# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Sass
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# Editors
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Compiled output
*.class
*.dll
*.exe
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
